- const socialList2 =['fb', 'tw', 'in', 'inst']

footer.footer#footer
	.footer__box 
		.footer__col 
			.footer__title Office 1
			a(href="/" aria-label='address link').footer__link Lasnamae linnaosa, Pae tn 25-47
			a(href="mailto:username@mail.com" aria-label='address link').footer__link.footer__link--mail username@mail.com
			a(href="tel:3125789075" aria-label='address link').footer__link.footer__link--tel +3125789075
		.footer__col 
			.footer__title Office 1
			a(href="/" aria-label='address link').footer__link Lasnamae linnaosa, Pae tn 25-47
			a(href="mailto:username@mail.com" aria-label='address link').footer__link.footer__link--mail username@mail.com
			a(href="tel:3125789075" aria-label='address link').footer__link.footer__link--tel +3125789075
	
		.footer__col 
			.footer__title Social
			.footer__social-box
				each soc in socialList2
					a(href=`/` aria-label=`${soc} link` class=`footer__soc--${soc}`).footer__soc
			a.footer__policy(href="/" aria-label='Privacy Policy') Privacy Policy
		
