@import '../../scss/vars';

.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	background-color: rgba(0, 0, 0, .7);

	&__content {
		position: relative;
		top: 50%;
		left: 50%;

		width: calc(100% - 40px);
		max-width: 400px;

		transform: translate(-50%, -50%);

		background-color: $popup-bg;
		box-shadow: 0px 2px 5px $popup-shadow;
		border-radius: 10px;
	}

	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 36px;
		height: 36px;

		border: 1px solid $popup-close-border;
		background-color: $popup-close-bg;
		box-shadow: 0px 2px 4px $popup-shadow;
		border-radius: 50%;
		overflow: hidden;

		cursor: pointer;

		&::after,
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(-45deg);
			width: 15px;
			height: 2px;
			background-color: $popup-close;
		}

		&::before {
			transform: translate(-50%, -50%) rotate(45deg);
		}
	}

	&__wrapper {
		padding: 10px;
	}

	&__img {
		width: 102px;
		height: 90px;

		margin-bottom: 20px;

		border: 1px solid $popup-border;
		border-radius: 5px;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__row {
		display: flex;
		align-items: center;
		margin-bottom: 17px;

		&:nth-last-child(-n+2) {
			margin-bottom: 23px;
		}
	}

	&__key {
		min-width: 74px;
		margin-right: 10px;

		color: $popup-color;
	}

	&__descr {
		font-weight: 300;
		color: $popup-color-alt;
	}

	&__descr,
	&__social-box {
		padding: 5px 10px;
		background-color: $popup-bg-alt;
		border-radius: 7px;
	}

	&__social-box {
		display: inline-flex;

		margin-bottom: 20px;
	}

	&__soc {
		width: 20px;
		height: 20px;

		margin-right: 14px;

		&:last-child {
			margin-right: 0;
		}

		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;

		&--fb {
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='#{svg-color($popup-icon)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5 20.75h6.25V3.25H3.25v17.5H12V14.5H9.5V12H12V9.932c0-1.67.175-2.277.5-2.888.32-.605.815-1.1 1.42-1.419.478-.256 1.071-.41 2.109-.476.411-.027.944.006 1.597.1v2.375H17c-1.146 0-1.62.054-1.902.205a.909.909 0 0 0-.393.392c-.15.283-.205.563-.205 1.71V12h3.125L17 14.5h-2.5v6.25ZM2 .75h20A1.25 1.25 0 0 1 23.25 2v20A1.25 1.25 0 0 1 22 23.25H2A1.25 1.25 0 0 1 .75 22V2A1.25 1.25 0 0 1 2 .75Z' /%3E%3C/svg%3E");

			&:hover {
				background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='#{svg-color($popup-icon-hov)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5 20.75h6.25V3.25H3.25v17.5H12V14.5H9.5V12H12V9.932c0-1.67.175-2.277.5-2.888.32-.605.815-1.1 1.42-1.419.478-.256 1.071-.41 2.109-.476.411-.027.944.006 1.597.1v2.375H17c-1.146 0-1.62.054-1.902.205a.909.909 0 0 0-.393.392c-.15.283-.205.563-.205 1.71V12h3.125L17 14.5h-2.5v6.25ZM2 .75h20A1.25 1.25 0 0 1 23.25 2v20A1.25 1.25 0 0 1 22 23.25H2A1.25 1.25 0 0 1 .75 22V2A1.25 1.25 0 0 1 2 .75Z' /%3E%3C/svg%3E");
			}
		}

		&--tw {
			background-image: url("data:image/svg+xml,%3Csvg width='26' height='22' fill='#{svg-color($popup-icon)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.125 2.938A3.625 3.625 0 0 0 14.5 6.496l-.035 1.969a.75.75 0 0 1-.85.729l-1.951-.265c-2.568-.35-5.028-1.533-7.388-3.499-.747 4.138.713 7.004 4.229 9.215l2.184 1.372a.75.75 0 0 1 .042 1.242l-1.99 1.453c1.184.074 2.308.022 3.24-.163C17.88 17.37 21.8 12.934 21.8 5.614c0-.598-1.265-2.676-3.675-2.676ZM12 6.45a6.125 6.125 0 0 1 10.481-4.194c.889-.006 1.645.219 3.336-.806-.418 2.05-.625 2.94-1.517 4.164 0 9.552-5.871 14.197-11.829 15.386-4.085.815-10.025-.524-11.727-2.301.867-.068 4.392-.447 6.43-1.938C5.45 15.625-1.411 11.588 3.098.733c2.116 2.47 4.262 4.153 6.437 5.046 1.447.594 1.803.581 2.466.672L12 6.45Z' /%3E%3C/svg%3E");

			&:hover {
				background-image: url("data:image/svg+xml,%3Csvg width='26' height='22' fill='#{svg-color($popup-icon-hov)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.125 2.938A3.625 3.625 0 0 0 14.5 6.496l-.035 1.969a.75.75 0 0 1-.85.729l-1.951-.265c-2.568-.35-5.028-1.533-7.388-3.499-.747 4.138.713 7.004 4.229 9.215l2.184 1.372a.75.75 0 0 1 .042 1.242l-1.99 1.453c1.184.074 2.308.022 3.24-.163C17.88 17.37 21.8 12.934 21.8 5.614c0-.598-1.265-2.676-3.675-2.676ZM12 6.45a6.125 6.125 0 0 1 10.481-4.194c.889-.006 1.645.219 3.336-.806-.418 2.05-.625 2.94-1.517 4.164 0 9.552-5.871 14.197-11.829 15.386-4.085.815-10.025-.524-11.727-2.301.867-.068 4.392-.447 6.43-1.938C5.45 15.625-1.411 11.588 3.098.733c2.116 2.47 4.262 4.153 6.437 5.046 1.447.594 1.803.581 2.466.672L12 6.45Z' /%3E%3C/svg%3E");
			}
		}

		&--in {
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='#{svg-color($popup-icon)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 .75h20A1.25 1.25 0 0 1 23.25 2v20A1.25 1.25 0 0 1 22 23.25H2A1.25 1.25 0 0 1 .75 22V2A1.25 1.25 0 0 1 2 .75Zm1.25 2.5v17.5h17.5V3.25H3.25Zm3.125 5a1.875 1.875 0 1 1 0-3.75 1.875 1.875 0 0 1 0 3.75ZM5.125 9.5h2.5v9.375h-2.5V9.5Zm6.875.537c.73-.706 1.582-1.162 2.5-1.162 2.589 0 4.375 2.099 4.375 4.688v5.312h-2.5v-5.313a2.188 2.188 0 0 0-4.375 0v5.313H9.5V9.5H12v.537Z' /%3E%3C/svg%3E");

			&:hover {
				background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='#{svg-color($popup-icon-hov)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 .75h20A1.25 1.25 0 0 1 23.25 2v20A1.25 1.25 0 0 1 22 23.25H2A1.25 1.25 0 0 1 .75 22V2A1.25 1.25 0 0 1 2 .75Zm1.25 2.5v17.5h17.5V3.25H3.25Zm3.125 5a1.875 1.875 0 1 1 0-3.75 1.875 1.875 0 0 1 0 3.75ZM5.125 9.5h2.5v9.375h-2.5V9.5Zm6.875.537c.73-.706 1.582-1.162 2.5-1.162 2.589 0 4.375 2.099 4.375 4.688v5.312h-2.5v-5.313a2.188 2.188 0 0 0-4.375 0v5.313H9.5V9.5H12v.537Z' /%3E%3C/svg%3E");
			}
		}

		&--inst {
			background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' fill='#{svg-color($popup-icon)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 9.25a3.75 3.75 0 1 0 0 7.5 3.75 3.75 0 0 0 0-7.5Zm0-2.5a6.25 6.25 0 1 1 0 12.5 6.25 6.25 0 0 1 0-12.5Zm8.125-.313a1.563 1.563 0 1 1-3.125 0 1.563 1.563 0 0 1 3.125 0ZM13 3c-3.092 0-3.598.009-5.036.072-.98.047-1.638.178-2.248.415-.542.21-.934.462-1.35.88-.391.377-.692.839-.88 1.35-.237.612-.369 1.268-.414 2.247C3.007 9.344 3 9.826 3 13c0 3.093.009 3.598.072 5.036.047.979.178 1.638.414 2.246.213.544.463.936.878 1.35.421.42.812.672 1.35.88.617.238 1.275.37 2.25.415C9.344 22.993 9.826 23 13 23c3.093 0 3.598-.009 5.036-.073.978-.046 1.636-.177 2.246-.413a3.651 3.651 0 0 0 1.35-.878c.422-.421.673-.812.88-1.35.238-.616.37-1.275.415-2.25.066-1.38.073-1.862.073-5.036 0-3.092-.009-3.598-.073-5.036-.046-.978-.177-1.638-.415-2.248a3.639 3.639 0 0 0-.878-1.35 3.604 3.604 0 0 0-1.35-.88c-.613-.237-1.27-.369-2.248-.414C16.656 3.007 16.174 3 13 3Zm0-2.5c3.396 0 3.82.012 5.152.075 1.332.063 2.238.271 3.035.581.825.318 1.52.748 2.215 1.442a6.137 6.137 0 0 1 1.442 2.215c.308.796.518 1.703.581 3.035.059 1.332.075 1.756.075 5.152s-.012 3.82-.075 5.152c-.063 1.332-.273 2.238-.581 3.035a6.105 6.105 0 0 1-1.442 2.215 6.144 6.144 0 0 1-2.215 1.442c-.796.308-1.703.518-3.035.581-1.332.059-1.756.075-5.152.075s-3.82-.012-5.152-.075c-1.332-.063-2.238-.273-3.035-.581a6.113 6.113 0 0 1-2.215-1.442 6.13 6.13 0 0 1-1.442-2.215c-.31-.796-.518-1.703-.581-3.035C.516 16.82.5 16.396.5 13s.012-3.82.075-5.152c.063-1.333.271-2.238.581-3.035a6.1 6.1 0 0 1 1.442-2.215 6.121 6.121 0 0 1 2.215-1.442C5.61.846 6.514.638 7.848.575 9.18.516 9.604.5 13 .5Z' /%3E%3C/svg%3E");

			&:hover {
				background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' fill='#{svg-color($popup-icon-hov)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 9.25a3.75 3.75 0 1 0 0 7.5 3.75 3.75 0 0 0 0-7.5Zm0-2.5a6.25 6.25 0 1 1 0 12.5 6.25 6.25 0 0 1 0-12.5Zm8.125-.313a1.563 1.563 0 1 1-3.125 0 1.563 1.563 0 0 1 3.125 0ZM13 3c-3.092 0-3.598.009-5.036.072-.98.047-1.638.178-2.248.415-.542.21-.934.462-1.35.88-.391.377-.692.839-.88 1.35-.237.612-.369 1.268-.414 2.247C3.007 9.344 3 9.826 3 13c0 3.093.009 3.598.072 5.036.047.979.178 1.638.414 2.246.213.544.463.936.878 1.35.421.42.812.672 1.35.88.617.238 1.275.37 2.25.415C9.344 22.993 9.826 23 13 23c3.093 0 3.598-.009 5.036-.073.978-.046 1.636-.177 2.246-.413a3.651 3.651 0 0 0 1.35-.878c.422-.421.673-.812.88-1.35.238-.616.37-1.275.415-2.25.066-1.38.073-1.862.073-5.036 0-3.092-.009-3.598-.073-5.036-.046-.978-.177-1.638-.415-2.248a3.639 3.639 0 0 0-.878-1.35 3.604 3.604 0 0 0-1.35-.88c-.613-.237-1.27-.369-2.248-.414C16.656 3.007 16.174 3 13 3Zm0-2.5c3.396 0 3.82.012 5.152.075 1.332.063 2.238.271 3.035.581.825.318 1.52.748 2.215 1.442a6.137 6.137 0 0 1 1.442 2.215c.308.796.518 1.703.581 3.035.059 1.332.075 1.756.075 5.152s-.012 3.82-.075 5.152c-.063 1.332-.273 2.238-.581 3.035a6.105 6.105 0 0 1-1.442 2.215 6.144 6.144 0 0 1-2.215 1.442c-.796.308-1.703.518-3.035.581-1.332.059-1.756.075-5.152.075s-3.82-.012-5.152-.075c-1.332-.063-2.238-.273-3.035-.581a6.113 6.113 0 0 1-2.215-1.442 6.13 6.13 0 0 1-1.442-2.215c-.31-.796-.518-1.703-.581-3.035C.516 16.82.5 16.396.5 13s.012-3.82.075-5.152c.063-1.333.271-2.238.581-3.035a6.1 6.1 0 0 1 1.442-2.215 6.121 6.121 0 0 1 2.215-1.442C5.61.846 6.514.638 7.848.575 9.18.516 9.604.5 13 .5Z' /%3E%3C/svg%3E");
			}
		}
	}

	&__text {
		font-weight: 300;
		line-height: 24px;
	}

	@include minW($sm) {
		&__content {
			max-width: 724px;
		}

		&__wrapper {
			padding: 20px;
		}

		&__top {
			display: flex;
			margin-bottom: 20px;
		}

		&__img {
			flex: 0 0 auto;
			width: 271px;
			height: 239px;
			margin-bottom: 0;
			margin-right: 20px;
		}

		&__info {
			margin-top: -5px;
		}

		&__row {
			margin-bottom: 12px;

			&:nth-last-child(-n+2) {
				margin-bottom: 20px;
			}
		}

		&__key,
		&__text,
		&__descr {
			font-size: 2rem;
		}

		&__key {
			min-width: 84px;
			margin-right: 20px;
		}

		&__social-box {
			padding: 8px 10px;
			margin-bottom: 0;
		}

		&__soc {
			width: 24px;
			height: 24px;

			margin-right: 17px;
		}

		&__text {
			line-height: 29px;
		}

		&__close {
			top: -11px;
			right: -11px;
		}
	}

}