section.banner
	.banner__box
		h1.h1.banner__title Email marceting for fast-growing startups
		p.banner__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id ut cursus dictum purus enim in in urna, suspendisse. Mauris, mollis sed sed ac.
		.banner__btn-box
			a(href="/" aria-label='Start btn').btn.banner__btn Start Now
			a(href="/" aria-label='More btn').btn.btn--alt.banner__btn Read More
