section.partners
	.partners__box(data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine")
		.partners__container
			.partners__card.js-partners-content
				.partners__header
					.partners__ava
						img(src="@img/partners-ava.jpg" alt="avatar")
					.partners__name-box
						p.partners__name Tom Dou 1
						p.partners__pos Front-End
				.partners__descr “Lorem ipsum dolor sit amet, consectetur adipiscing elit. At pretium id viverra interdum nam odio ultricies. Diam leo, sed neque dui pulvinar condimentum pretium. At pretium id viverra interdum nam odio ultricies. Diam leo, sed neque dui pulvinar condimentum pretium.”
			.partners__card.js-partners-content
				.partners__header
					.partners__ava
						img(src="@img/partners-ava.jpg" alt="avatar")
					.partners__name-box
						p.partners__name Tom Dou 2
						p.partners__pos Front-End
				.partners__descr “Lorem ipsum dolor sit amet, consectetur adipiscing elit. At pretium id viverra interdum nam odio ultricies. Diam leo, sed neque dui pulvinar condimentum pretium. At pretium id viverra interdum nam odio ultricies. Diam leo, sed neque dui pulvinar condimentum pretium.” t amet, consectetur adipiscing elit. At pretium id viverra interdum nam odio ultricies. Diam leo, sed neque dui pulvinar condimentum pretium. At pretium id viverra interdum nam odio ultricies. Diam leo, sed neque dui pulvinar condimentum pretium.”
			.partners__card.js-partners-content
				.partners__header
					.partners__ava
						img(src="@img/partners-ava.jpg" alt="avatar")
					.partners__name-box
						p.partners__name Tom Dou 3
						p.partners__pos Front-End
				.partners__descr “Lorem ipsum dolor sit amet, consectetur adipiscing elit. At pretium id viverra interdum nam odio ultricies. Diam leo, sed neque dui pulvinar condimentum pretium. At pretium id viverra interdum nam odio ultricies. Diam leo, sed neque dui pulvinar condimentum pretium.” t amet, consectetur adipiscing elit. At pretium id viverra interdum nam odio ultricies. Diam leo, sed neque dui pulvinar condimentum pretium. At pretium id viverra interdum nam odio ultricies. Diam leo, sed neque dui pulvinar condimentum pretium.”
			.partners__card.js-partners-content
				.partners__header
					.partners__ava
						img(src="@img/partners-ava.jpg" alt="avatar")
					.partners__name-box
						p.partners__name Tom Dou 4
						p.partners__pos Front-End
				.partners__descr “Lorem ipsum dolor sit amet, consectetur adipiscing elit. At pretium id viverra interdum nam odio ultricies. Diam leo, sed neque dui pulvinar condimentum pretium. At pretium id viverra interdum nam odio ultricies. Diam leo, sed neque dui pulvinar condimentum pretium.” t amet, consectetur adipiscing elit. At pretium id viverra interdum nam odio ultricies. Diam leo, sed neque dui pulvinar condimentum pretium. At pretium id viverra interdum nam odio ultricies. Diam leo, sed neque dui pulvinar condimentum pretium.”
			.partners__card.js-partners-content
				.partners__header
					.partners__ava
						img(src="@img/partners-ava.jpg" alt="avatar")
					.partners__name-box
						p.partners__name Tom Dou 5
						p.partners__pos Front-End
				.partners__descr “Lorem ipsum dolor sit amet, consectetur adipiscing elit. At pretium id viverra interdum nam odio ultricies. Diam leo, sed neque dui pulvinar condimentum pretium. At pretium id viverra interdum nam odio ultricies. Diam leo, sed neque dui pulvinar condimentum pretium.” t amet, consectetur adipiscing elit. At pretium id viverra interdum nam odio ultricies. Diam leo, sed neque dui pulvinar condimentum pretium. At pretium id viverra interdum nam odio ultricies. Diam leo, sed neque dui pulvinar condimentum pretium.”
			.partners__card.js-partners-content
				.partners__header
					.partners__ava
						img(src="@img/partners-ava.jpg" alt="avatar")
					.partners__name-box
						p.partners__name Tom Dou 6
						p.partners__pos Front-End
				.partners__descr “Lorem ipsum dolor sit amet, consectetur adipiscing elit. At pretium id viverra interdum nam odio ultricies. Diam leo, sed neque dui pulvinar condimentum pretium. At pretium id viverra interdum nam odio ultricies. Diam leo, sed neque dui pulvinar condimentum pretium.” t amet, consectetur adipiscing elit. At pretium id viverra interdum nam odio ultricies. Diam leo, sed neque dui pulvinar condimentum pretium. At pretium id viverra interdum nam odio ultricies. Diam leo, sed neque dui pulvinar condimentum pretium.”
		
		.partners__menu.js-partners-menu
			.partners__tab.js-partners-tab.active
				img(src="@img/partners-logo-1.png", alt="partner logo")
			.partners__tab.js-partners-tab
				img(src="@img/partners-logo-2.png", alt="partner logo")
			.partners__tab.js-partners-tab
				img(src="@img/partners-logo-3.png", alt="partner logo")
			.partners__tab.js-partners-tab
				img(src="@img/partners-logo-4.png", alt="partner logo")
			.partners__tab.js-partners-tab
				img(src="@img/partners-logo-5.png", alt="partner logo")
			.partners__tab.js-partners-tab
				img(src="@img/partners-logo-6.png", alt="partner logo")
		