@import '../../scss/vars';

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	transition: .5s ease;
	z-index: 100;

	&.sticky {
		background-color: $section-bg-dark;

		& .navbar__row {
			padding: 10px 0;
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 25px 0;

		transition: .3s ease;
	}

	&__logo {
		width: 107px;
		height: 34px;

		background: url("data:image/svg+xml,%3Csvg width='107' height='34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50.205 10.756v2.14h-4.183v11.468H43.53V12.896h-4.183v-2.14h10.859ZM50.33 19.278c0-.903.132-1.695.394-2.376.274-.68.634-1.244 1.08-1.689a4.254 4.254 0 0 1 1.531-1.021 4.627 4.627 0 0 1 1.767-.354c1.414 0 2.514.44 3.3 1.316.798.877 1.197 2.186 1.197 3.927 0 .131-.006.282-.02.452 0 .157-.006.301-.02.432h-6.774c.066.825.354 1.466.864 1.924.524.445 1.277.668 2.258.668.577 0 1.1-.052 1.571-.157.485-.105.864-.216 1.14-.334l.313 1.944c-.13.066-.314.138-.55.216a7.188 7.188 0 0 1-.785.177 9.09 9.09 0 0 1-1.983.216c-.903 0-1.689-.131-2.356-.393-.668-.275-1.218-.648-1.65-1.12a4.695 4.695 0 0 1-.962-1.688 6.988 6.988 0 0 1-.314-2.14Zm6.893-1.06c0-.328-.046-.636-.137-.924a2.053 2.053 0 0 0-.413-.765 1.659 1.659 0 0 0-.648-.51c-.248-.132-.55-.197-.903-.197-.367 0-.687.072-.962.216-.275.13-.51.307-.707.53a2.579 2.579 0 0 0-.432.766 4.151 4.151 0 0 0-.216.883h4.418ZM64.69 22.655c.629 0 1.087-.072 1.375-.216.288-.157.432-.419.432-.785 0-.34-.157-.622-.471-.845-.301-.222-.805-.464-1.512-.726a15.12 15.12 0 0 1-1.198-.491 4.398 4.398 0 0 1-.923-.628 2.688 2.688 0 0 1-.628-.845c-.144-.34-.216-.753-.216-1.237 0-.942.347-1.682 1.04-2.219.694-.55 1.637-.825 2.828-.825a8.23 8.23 0 0 1 1.728.177c.55.105.962.21 1.237.314l-.432 1.925a5.357 5.357 0 0 0-1.001-.314 5.69 5.69 0 0 0-1.414-.157c-.484 0-.877.085-1.178.255a.786.786 0 0 0-.452.746c0 .17.026.32.079.452.065.13.17.255.314.373.144.104.334.216.57.333.235.105.523.216.863.334.563.21 1.041.42 1.434.629.393.196.713.425.962.687.262.249.452.537.57.864.117.327.176.72.176 1.178 0 .982-.366 1.728-1.1 2.239-.72.497-1.754.746-3.102.746-.903 0-1.63-.079-2.18-.236-.55-.144-.936-.262-1.158-.353l.412-1.983c.354.143.773.281 1.257.412.497.13 1.06.196 1.689.196ZM70.975 11.384l2.376-.393v3.103h3.652v1.983h-3.652v4.183c0 .824.13 1.413.393 1.767.261.353.707.53 1.335.53.432 0 .812-.046 1.139-.137.34-.092.609-.177.805-.256l.393 1.885a8.048 8.048 0 0 1-1.08.354c-.445.13-.97.196-1.571.196-.733 0-1.349-.098-1.846-.294a2.75 2.75 0 0 1-1.159-.845 3.47 3.47 0 0 1-.608-1.355 8.557 8.557 0 0 1-.177-1.826v-8.895ZM81.696 24.364H79.32v-10.27h2.376v10.27Zm.255-13.275c0 .445-.144.799-.432 1.06a1.468 1.468 0 0 1-1.021.394c-.406 0-.753-.131-1.04-.393-.289-.262-.433-.616-.433-1.06 0-.459.144-.819.432-1.08a1.493 1.493 0 0 1 1.04-.393c.394 0 .734.13 1.022.392.288.262.432.622.432 1.08ZM84.727 14.428a15.91 15.91 0 0 1 1.787-.373 15.41 15.41 0 0 1 2.435-.177c.838 0 1.538.118 2.1.353.564.223 1.009.543 1.336.962.34.406.576.904.707 1.493a7.85 7.85 0 0 1 .216 1.904v5.774h-2.376v-5.4c0-.55-.04-1.015-.118-1.395-.065-.392-.183-.706-.353-.942a1.284 1.284 0 0 0-.668-.53c-.275-.118-.615-.177-1.02-.177-.302 0-.616.02-.944.059-.327.04-.569.072-.726.098v8.287h-2.376v-9.936ZM98.079 18.964c0 1.008.216 1.747.648 2.219.445.458 1.014.687 1.708.687.38 0 .733-.053 1.061-.157.34-.105.615-.23.824-.373v-5.322a5.317 5.317 0 0 0-.628-.098 6.223 6.223 0 0 0-.943-.059c-.864 0-1.525.288-1.983.864-.458.563-.687 1.31-.687 2.239Zm6.617 4.359c0 1.636-.419 2.834-1.256 3.593-.825.76-2.095 1.14-3.81 1.14-.628 0-1.243-.053-1.846-.158a10.31 10.31 0 0 1-1.61-.412l.432-2.023c.406.17.864.308 1.375.413a8.612 8.612 0 0 0 1.689.157c.955 0 1.636-.197 2.042-.59.405-.392.608-.975.608-1.747v-.393a6.005 6.005 0 0 1-.942.354c-.38.117-.818.176-1.316.176a5.034 5.034 0 0 1-1.806-.314 3.874 3.874 0 0 1-1.394-.923c-.38-.405-.681-.91-.904-1.512-.21-.615-.314-1.322-.314-2.12 0-.747.111-1.434.334-2.062a4.596 4.596 0 0 1 1.001-1.61 4.681 4.681 0 0 1 1.61-1.041c.629-.249 1.342-.373 2.141-.373.772 0 1.505.059 2.199.177.694.117 1.283.242 1.767.373v8.895Z' fill='%23F2F2F2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.649 4.743C19.16 5.068 13.999 10.43 13.999 17s5.161 11.932 11.65 12.257A14.931 14.931 0 0 1 17 32C8.716 32 2 25.284 2 17 2 8.716 8.716 2 17 2c3.22 0 6.204 1.015 8.649 2.743Z' fill='%23FF0B53'/%3E%3Cpath d='M36.909 17c0 5.874-4.762 10.636-10.636 10.636-5.875 0-10.637-4.762-10.637-10.636S20.398 6.364 26.273 6.364c5.874 0 10.636 4.762 10.636 10.636Z' fill='%23fff'/%3E%3C/svg%3E") center/cover no-repeat;
		z-index: 1000;
	}

	&__el {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link {
		position: relative;
		font-size: 2.4rem;
		font-weight: 700;
		color: $secondary-color;
		text-transform: uppercase;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -2px;

			width: 100%;
			height: 2px;
			background-color: $secondary-color;

			transition: transform .55s cubic-bezier(.82, .01, .21, 1);
			transform: scaleX(0);
			transform-origin: 100% 0;
		}

		&:hover {
			text-decoration: none;

			&::after {
				transition: transform .85s cubic-bezier(.82, .01, .21, 1);
				transform: scaleX(1);
				transform-origin: 0 0;
			}
		}
	}

	@include maxW($sm) {
		&__row {
			position: relative;
		}

		&__burger {
			position: relative;
			width: 24px;
			height: 21px;
			cursor: pointer;
			transition: .3s ease;

			z-index: 1000;

			span {
				position: absolute;
				top: calc(50% - 1px);
				left: 0;
				width: 100%;
				height: 2px;
				background: $secondary-color;
				transition: .3s ease;
			}

			&::before,
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 2px;
				background: $secondary-color;
				transition: .3s ease;
			}

			&::after {
				top: unset;
				bottom: 0;
			}

			&.open {
				width: 20px;
				height: 21px;

				span {
					transform: rotate(45deg);
				}

				&:before {
					top: 9px;
					transform: rotate(-45deg);
				}

				&::after {
					display: none;
				}
			}
		}

		&.sticky {
			& .navbar__navigation {
				background-color: rgba(23, 25, 29, .7);
			}
		}

		&__navigation {
			position: absolute;
			top: 0;
			left: calc(-100% - 40px);

			display: flex;
			flex-direction: column;

			padding: 120px 20px 35px;
			margin-left: -20px;
			width: calc(100% + 40px);
			height: 100vh;

			backdrop-filter: blur(50px);

			transition: .3s ease-in;

			&.open {
				left: 0%;
			}

		}

		&__footer {
			display: flex;
			align-items: center;
			flex-direction: column;

			margin-top: auto;
		}

		&__social-box {
			display: flex;

			margin-bottom: 30px;
		}

		&__soc {
			display: block;
			width: 24px;
			height: 24px;

			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}

			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;

			&--fb {
				background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='#{svg-color($navbar-social)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5 20.75h6.25V3.25H3.25v17.5H12V14.5H9.5V12H12V9.932c0-1.67.175-2.277.5-2.888.32-.605.815-1.1 1.42-1.419.478-.256 1.071-.41 2.109-.476.411-.027.944.006 1.597.1v2.375H17c-1.146 0-1.62.054-1.902.205a.909.909 0 0 0-.393.392c-.15.283-.205.563-.205 1.71V12h3.125L17 14.5h-2.5v6.25ZM2 .75h20A1.25 1.25 0 0 1 23.25 2v20A1.25 1.25 0 0 1 22 23.25H2A1.25 1.25 0 0 1 .75 22V2A1.25 1.25 0 0 1 2 .75Z' /%3E%3C/svg%3E");

				&:hover {
					background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='#{svg-color($navbar-social-hov)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5 20.75h6.25V3.25H3.25v17.5H12V14.5H9.5V12H12V9.932c0-1.67.175-2.277.5-2.888.32-.605.815-1.1 1.42-1.419.478-.256 1.071-.41 2.109-.476.411-.027.944.006 1.597.1v2.375H17c-1.146 0-1.62.054-1.902.205a.909.909 0 0 0-.393.392c-.15.283-.205.563-.205 1.71V12h3.125L17 14.5h-2.5v6.25ZM2 .75h20A1.25 1.25 0 0 1 23.25 2v20A1.25 1.25 0 0 1 22 23.25H2A1.25 1.25 0 0 1 .75 22V2A1.25 1.25 0 0 1 2 .75Z' /%3E%3C/svg%3E");
				}
			}

			&--tw {
				background-image: url("data:image/svg+xml,%3Csvg width='26' height='22' fill='#{svg-color($navbar-social)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.125 2.938A3.625 3.625 0 0 0 14.5 6.496l-.035 1.969a.75.75 0 0 1-.85.729l-1.951-.265c-2.568-.35-5.028-1.533-7.388-3.499-.747 4.138.713 7.004 4.229 9.215l2.184 1.372a.75.75 0 0 1 .042 1.242l-1.99 1.453c1.184.074 2.308.022 3.24-.163C17.88 17.37 21.8 12.934 21.8 5.614c0-.598-1.265-2.676-3.675-2.676ZM12 6.45a6.125 6.125 0 0 1 10.481-4.194c.889-.006 1.645.219 3.336-.806-.418 2.05-.625 2.94-1.517 4.164 0 9.552-5.871 14.197-11.829 15.386-4.085.815-10.025-.524-11.727-2.301.867-.068 4.392-.447 6.43-1.938C5.45 15.625-1.411 11.588 3.098.733c2.116 2.47 4.262 4.153 6.437 5.046 1.447.594 1.803.581 2.466.672L12 6.45Z' /%3E%3C/svg%3E");

				&:hover {
					background-image: url("data:image/svg+xml,%3Csvg width='26' height='22' fill='#{svg-color($navbar-social-hov)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.125 2.938A3.625 3.625 0 0 0 14.5 6.496l-.035 1.969a.75.75 0 0 1-.85.729l-1.951-.265c-2.568-.35-5.028-1.533-7.388-3.499-.747 4.138.713 7.004 4.229 9.215l2.184 1.372a.75.75 0 0 1 .042 1.242l-1.99 1.453c1.184.074 2.308.022 3.24-.163C17.88 17.37 21.8 12.934 21.8 5.614c0-.598-1.265-2.676-3.675-2.676ZM12 6.45a6.125 6.125 0 0 1 10.481-4.194c.889-.006 1.645.219 3.336-.806-.418 2.05-.625 2.94-1.517 4.164 0 9.552-5.871 14.197-11.829 15.386-4.085.815-10.025-.524-11.727-2.301.867-.068 4.392-.447 6.43-1.938C5.45 15.625-1.411 11.588 3.098.733c2.116 2.47 4.262 4.153 6.437 5.046 1.447.594 1.803.581 2.466.672L12 6.45Z' /%3E%3C/svg%3E");
				}
			}

			&--in {
				background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='#{svg-color($navbar-social)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 .75h20A1.25 1.25 0 0 1 23.25 2v20A1.25 1.25 0 0 1 22 23.25H2A1.25 1.25 0 0 1 .75 22V2A1.25 1.25 0 0 1 2 .75Zm1.25 2.5v17.5h17.5V3.25H3.25Zm3.125 5a1.875 1.875 0 1 1 0-3.75 1.875 1.875 0 0 1 0 3.75ZM5.125 9.5h2.5v9.375h-2.5V9.5Zm6.875.537c.73-.706 1.582-1.162 2.5-1.162 2.589 0 4.375 2.099 4.375 4.688v5.312h-2.5v-5.313a2.188 2.188 0 0 0-4.375 0v5.313H9.5V9.5H12v.537Z' /%3E%3C/svg%3E");

				&:hover {
					background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='#{svg-color($navbar-social-hov)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 .75h20A1.25 1.25 0 0 1 23.25 2v20A1.25 1.25 0 0 1 22 23.25H2A1.25 1.25 0 0 1 .75 22V2A1.25 1.25 0 0 1 2 .75Zm1.25 2.5v17.5h17.5V3.25H3.25Zm3.125 5a1.875 1.875 0 1 1 0-3.75 1.875 1.875 0 0 1 0 3.75ZM5.125 9.5h2.5v9.375h-2.5V9.5Zm6.875.537c.73-.706 1.582-1.162 2.5-1.162 2.589 0 4.375 2.099 4.375 4.688v5.312h-2.5v-5.313a2.188 2.188 0 0 0-4.375 0v5.313H9.5V9.5H12v.537Z' /%3E%3C/svg%3E");
				}
			}

			&--inst {
				background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' fill='#{svg-color($navbar-social)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 9.25a3.75 3.75 0 1 0 0 7.5 3.75 3.75 0 0 0 0-7.5Zm0-2.5a6.25 6.25 0 1 1 0 12.5 6.25 6.25 0 0 1 0-12.5Zm8.125-.313a1.563 1.563 0 1 1-3.125 0 1.563 1.563 0 0 1 3.125 0ZM13 3c-3.092 0-3.598.009-5.036.072-.98.047-1.638.178-2.248.415-.542.21-.934.462-1.35.88-.391.377-.692.839-.88 1.35-.237.612-.369 1.268-.414 2.247C3.007 9.344 3 9.826 3 13c0 3.093.009 3.598.072 5.036.047.979.178 1.638.414 2.246.213.544.463.936.878 1.35.421.42.812.672 1.35.88.617.238 1.275.37 2.25.415C9.344 22.993 9.826 23 13 23c3.093 0 3.598-.009 5.036-.073.978-.046 1.636-.177 2.246-.413a3.651 3.651 0 0 0 1.35-.878c.422-.421.673-.812.88-1.35.238-.616.37-1.275.415-2.25.066-1.38.073-1.862.073-5.036 0-3.092-.009-3.598-.073-5.036-.046-.978-.177-1.638-.415-2.248a3.639 3.639 0 0 0-.878-1.35 3.604 3.604 0 0 0-1.35-.88c-.613-.237-1.27-.369-2.248-.414C16.656 3.007 16.174 3 13 3Zm0-2.5c3.396 0 3.82.012 5.152.075 1.332.063 2.238.271 3.035.581.825.318 1.52.748 2.215 1.442a6.137 6.137 0 0 1 1.442 2.215c.308.796.518 1.703.581 3.035.059 1.332.075 1.756.075 5.152s-.012 3.82-.075 5.152c-.063 1.332-.273 2.238-.581 3.035a6.105 6.105 0 0 1-1.442 2.215 6.144 6.144 0 0 1-2.215 1.442c-.796.308-1.703.518-3.035.581-1.332.059-1.756.075-5.152.075s-3.82-.012-5.152-.075c-1.332-.063-2.238-.273-3.035-.581a6.113 6.113 0 0 1-2.215-1.442 6.13 6.13 0 0 1-1.442-2.215c-.31-.796-.518-1.703-.581-3.035C.516 16.82.5 16.396.5 13s.012-3.82.075-5.152c.063-1.333.271-2.238.581-3.035a6.1 6.1 0 0 1 1.442-2.215 6.121 6.121 0 0 1 2.215-1.442C5.61.846 6.514.638 7.848.575 9.18.516 9.604.5 13 .5Z' /%3E%3C/svg%3E");

				&:hover {
					background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' fill='#{svg-color($navbar-social-hov)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 9.25a3.75 3.75 0 1 0 0 7.5 3.75 3.75 0 0 0 0-7.5Zm0-2.5a6.25 6.25 0 1 1 0 12.5 6.25 6.25 0 0 1 0-12.5Zm8.125-.313a1.563 1.563 0 1 1-3.125 0 1.563 1.563 0 0 1 3.125 0ZM13 3c-3.092 0-3.598.009-5.036.072-.98.047-1.638.178-2.248.415-.542.21-.934.462-1.35.88-.391.377-.692.839-.88 1.35-.237.612-.369 1.268-.414 2.247C3.007 9.344 3 9.826 3 13c0 3.093.009 3.598.072 5.036.047.979.178 1.638.414 2.246.213.544.463.936.878 1.35.421.42.812.672 1.35.88.617.238 1.275.37 2.25.415C9.344 22.993 9.826 23 13 23c3.093 0 3.598-.009 5.036-.073.978-.046 1.636-.177 2.246-.413a3.651 3.651 0 0 0 1.35-.878c.422-.421.673-.812.88-1.35.238-.616.37-1.275.415-2.25.066-1.38.073-1.862.073-5.036 0-3.092-.009-3.598-.073-5.036-.046-.978-.177-1.638-.415-2.248a3.639 3.639 0 0 0-.878-1.35 3.604 3.604 0 0 0-1.35-.88c-.613-.237-1.27-.369-2.248-.414C16.656 3.007 16.174 3 13 3Zm0-2.5c3.396 0 3.82.012 5.152.075 1.332.063 2.238.271 3.035.581.825.318 1.52.748 2.215 1.442a6.137 6.137 0 0 1 1.442 2.215c.308.796.518 1.703.581 3.035.059 1.332.075 1.756.075 5.152s-.012 3.82-.075 5.152c-.063 1.332-.273 2.238-.581 3.035a6.105 6.105 0 0 1-1.442 2.215 6.144 6.144 0 0 1-2.215 1.442c-.796.308-1.703.518-3.035.581-1.332.059-1.756.075-5.152.075s-3.82-.012-5.152-.075c-1.332-.063-2.238-.273-3.035-.581a6.113 6.113 0 0 1-2.215-1.442 6.13 6.13 0 0 1-1.442-2.215c-.31-.796-.518-1.703-.581-3.035C.516 16.82.5 16.396.5 13s.012-3.82.075-5.152c.063-1.333.271-2.238.581-3.035a6.1 6.1 0 0 1 1.442-2.215 6.121 6.121 0 0 1 2.215-1.442C5.61.846 6.514.638 7.848.575 9.18.516 9.604.5 13 .5Z' /%3E%3C/svg%3E");
				}
			}
		}

		&__policy {
			font-size: 1.6rem;
			font-weight: 300;
			color: $navbar-link;

			&:hover {
				color: $navbar-social-hov;
			}
		}
	}

	@include minW($sm) {
		&__logo {
			width: 150px;
			height: 40px;
		}

		&__list {
			display: flex;
		}

		&__burger,
		&__footer {
			display: none;
		}

		&__el {
			margin-bottom: 0;
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}
		}

		&__link {
			font-size: 1.6rem;
			font-weight: 400;
		}
	}

	@include minW($md) {
		&__row {
			padding: 30px 0;
		}

		&__logo {
			width: 192px;
			height: 55px;
		}

		&__el {
			margin-right: 30px;
		}
	}
}